:root {
  --color-white: #ffffff;
  --color-background: #333333;
  --color-border-bottom: #F0F0F5;
  --color-danger: #E7682A;
  --color-border-button: #87878C;
  --color-bg-button: #e3e2e2;
}

/*fonts*/
@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/dinpro.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 500;

  src: url("../fonts/dinpro_medium.otf") format("opentype");
  font-display: swap;
}

/*general*/
html {
  height: 100%;
  background-color: var(--color-white);
}

body {
  font-family: "DIN Pro", serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}

/*header-page*/
.header-page {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 12px 30px;
  margin-bottom: 24px;
  background-color: var(--color-background);
}

.header-page h2 {
  color:var(--color-white);
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
}

.header-page img {
  position: absolute;
  top: 8px;
  right: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-border-bottom);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 8px;
}

a {
  text-decoration: none;
}

.navigation-link {
  color: var(--color-danger);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--color-border-button);
  background: var(--color-white);
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background: var(--color-bg-button);
}

.title-page {
  color: var(--color-border-button);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--color-border-bottom);
}

.content {
  width: 100%;
}

.wrapper:has(.sidebar) {
  column-gap: 110px;
  padding-bottom: 8px;
}

/*sidebar*/
.sidebar {
  width: 340px;
  min-width: 240px;
}

@media screen and (max-width: 800px) {
  .wrapper:has(.sidebar) {
    flex-direction: column;
    gap: 16px;
  }
  .sidebar {
    width: 100%;
    border-bottom: 1px solid var(--color-border-bottom);
  }
}

.sidebar button {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 25px;
  border: none;
  background: none;
}

.sidebar button {
  stroke: #2D2D31;
}

.sidebar button:hover,
.sidebar button:focus,
.sidebar button:active,
.sidebar button.active {
  color: var(--color-danger);
  stroke: var(--color-danger);
}

.sidebar button:not(.active) {
  color: #2D2D31;
  stroke: #2D2D31;
}

/*content*/
section.active {
  display: block;
}

section:not(.active) {
  display: none;
}

h3 {
  color: #121214;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 12px;
}

h4 {
  color: #121214;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

table {
  border-collapse: collapse;
  border: 1px solid #F4F4F4;
  color: #646468;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  margin-bottom: 8px;
  width: 100%;
}

.state-sign__table,
.identified-persons__table {
  margin-bottom: 40px;
}

td {
  vertical-align: top;
  padding: 8px;
  min-width: 150px;
  border-bottom: 1px solid #F4F4F4;
}

caption {
  color: #3B3B40;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  text-transform: uppercase;
  padding: 8px;
  background: rgba(240, 240, 245, 0.50);
}

.state-sign__table .title {
  font-size: 12px;
}

.danger {
  color: var(--color-danger);
}

.danger.very-dangerous {
  font-weight: 500;
}

.age {
  color: var(--color-border-button)
}

button.calendar {
  display: flex;
  padding: 2px;
  align-items: center;
  gap: 4px;

  color: #3B3B40;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;

  border-radius: 2px;
  background: var(--color-border-bottom);
}

button.calendar:hover,
button.calendar:focus,
button.calendar:active{
  background: none;
}

.car-model {
  text-transform: uppercase;
}

.document-number {
  color: #646468;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}


.page-footer {
  padding: 16px 0 32px 0;
  min-height: 84px;
}
